/* app.component.css */
.app-container {
  display: flex;
  min-height: 100vh;
}

.main-content {
  flex: 1;
  margin-left: 250px; /* Mismo ancho que el sidebar */
  padding: 20px;
  background-color: #f5f5f5;
  min-height: 100vh;
}